<h1>{{title}}</h1>
<h2>Courses</h2>
<div class="row">
    <div class="col-md-12">
        <div class="error" *ngIf="error">{{error}}</div>
        <div class="pull-right">
            <button class="btn btn-success" (click)="addCourse()">Add New Course</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Object Id</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses" [class.active]="course === selectedCourse" (click)="onSelect(course)">
                    <td>{{course._id}}</td>
                    <td>{{course.title}}</td>
                    <td><button class="btn btn-danger" (click)="deleteCourse(course, $event)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div *ngIf="selectedCourse">
            <h2>
                {{selectedCourse.name | uppercase}} is my course
            </h2>
            <button class="btn btn-primary" (click)="gotoDetail()">View Details</button>
        </div>
    </div>
</div>